services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: SecurePassword123!
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - tickety
  
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4
    command:
      - start-dev
      - --db=dev-file
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=h2-file
    volumes:
      - keycloak-data:/opt/keycloak/data
    ports:
      - "9090:8080"
    networks:
      - tickety

volumes:
  postgres-data:
    driver: local
  keycloak-data:
    driver: local

networks:
  tickety:
    driver: bridge